.biru{background: #1192d3;}
#weather{
	padding-bottom: 10%;
	padding-left: 0.1%;
	padding-right: 0.1%;
}
body{background-color: whitesmoke;}
.card-action, .card-content{background-color: white;}

/*prevent scrolling*/
html, body {
    max-width: 100%;
    overflow-x: hidden;
}